boto3==1.21.45
Django==4.0.4
dj-database-url==0.5.0
django-storages==1.12.3
django-storage-url==0.8.1
fontawesomefree==6.0.0
gunicorn==20.1.0
pillow==9.0.1
psycopg2==2.9.3
wagtail==2.16.2
whitenoise==6.0.0